{% extends "layout.html" %}

{% block title %} Achievements {% endblock %}

{% block main %}

    <div class="head">
      <h1><b>Honor Me achievements:</b></h1>
      <br>
      <h2 class="underline">Vulkanlan 2018 Placements</h2>
      <p><u>League of Legends 5v5:</u> 9th out of 17 teams</p>
      <p>Team: Besoffenekugel, LordKiller234, braindead28, killhim, whalterwhite</p>
      <br>
      <p><u>Rocket League 3v3:</u> 5th out of 30 teams</p>
      <p>Team: Besoffenekugel, CoreGamer90, Fiffo</p>
      <br>
      <p><u>Call of Duty 4 Free for all:</u> 6th out of 41 Players</p>
      <p>Player: LadyAnus</p>
      <h2 class="underline">3rd Place Rocket League 3v3 Tournament (Vulkanlan 2017)</h2>
      <p>Team: Besoffenekugel, Fiffo, Coregamer90</p>
      <br>
      <br>
      <br>
      <img src="/static/pics/achievements/3rd_place_rl_kugel.jpg" alt="HonorMe rl_siegerehrung">
      <br>
      <br>
      <br>
      <h2 class="underline">Clan founding, October 2017</h2>
      <p>Founders: CoreGamer90, Fiffo, Braindead28, Zoembie
      <br>
      <br>
      <br>
      <img src="" alt="">
    </div>

{% endblock %}