{% extends "layout.html" %}

{% block title %}
    Contact Formular
{% endblock %}

{% block main %}

<script>
    function validateForm() {
    var fname = document.forms["myForm"]["firstname"].value;
    var lname = document.forms["myForm"]["lastname"].value;
    var email = document.forms["myForm"]["email"].value;
    var subject = document.forms["myForm"]["subject"].value;

        if ((fname == "") || (lname == "") || (email == "") || (subject = "")) {
            alert("Name must be filled out");
            return false;
        }
        else {
            alert("E-Mail sent");
            return true;
        }
}
</script>

<br>
<br>
<div class="container">

  <form name="myForm" action="/contact" onsubmit="return validateForm()" method="post">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.." required>

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>

    <label for="email">E-Mail</label>
    <input type="text" id="email" name="email" placeholder="Your e-mail.." required>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px" required></textarea>

    <button class="btn btn-primary" type="submit">Send</button>

  </form>
</div>

{% endblock %}