{% extends "layout.html" %}

{% block title %} Gallery {% endblock %}

{% block main %}


  <style>
    .mySlides {display:none;}
  </style>

  <br>
  <br>
  <br>

<div class="w3-content w3-display-container">

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/gruppe1.jpg" style="width:100%;">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Group photo
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/gruppe2.jpg" style="width:100%;">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Group photo
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/lan1.jpg" style="width:100%;">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Vulkanlan2018
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/lan2.jpg" style="width:100%;">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Vulkanlan2018
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/lan3.jpg" style="width:100%;">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Vulkanlan2018
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/lan4.jpg" style="width:100%;">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Vulkanlan2018
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/lan5.jpg" style="width:100%;">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Vulkanlan2018
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/lan6.jpg" style="width:100%;">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Group photo
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/lan7.jpg" style="width:100%;">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Vulkanlan2018
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/lan9.jpg" style="width:100%;">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Vulkanlan2018
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/gruppenfoto.jpg" style="width:100%">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Vulkanlan 2017
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/rl_siegerehrung.jpg" style="width:100%">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Vulkanlan 2017
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/coach_kugel.jpg" style="width:100%">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Rocket Leage champion Besoffenekugel
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/static/pics/gallery/fotoshooting.jpg" style="width:100%">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Fotoshooting with cute girls
  </div>
</div>

<button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

{% endblock %}