{% extends "layout.html" %}

{% block title %}
    Clan Website Home
{% endblock %}

{% block main %}

<head>

<meta name="google-site-verification" content="oFxPcFsfJXqPECjPjxprzRSGXg2Dm57V6OzaAzD2H4Q" />

  <style>
    input[type=submit] {
      color: white;
      background-color: black;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>
</head>

      <div class="head">
        <h1>
          Welcome to Clan Honor Me!
        </h1>

        <br>
        <h2>

          Honor Me is a fun-gaming-clan from Austria, founded back in 2017,<br> with the goal to get a free drink at the VulkanLan ;).
        </h2>

        <br>

        <h2>
          Today, we are already counting 13 Members. If you are interrested in joining us,<br> please feel free to watch this video to get an idea how our clan works:
        </h2>

        <div class="videoWrapper">
          <iframe width="1000" height="560" src="https://www.youtube.com/embed/BhBNRgqPPAU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <h2>
          For more information, contact us on
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a href="https://www.facebook.com/HonorMeClan/" class="fa fa-facebook"></a>,

          or use the contact e-mail

          <form action='/contact'>
            <input type='submit' value='formular!'>
          </form>
        </h2>

        <br>
        <br>

        <h2 class="underline">
          Vulkanlan 2018:
        </h2>

        <h2>
          Watch our little precious Vlog from the Vulkanlan 2018:
        </h2>
        <div class="videoWrapper">
          <iframe width="1000" height="560" src="https://www.youtube.com/embed/4sKKay5Ojrw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

{% endblock %}