{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}

  <br>
    <h1>Clan-Members:</h1>
  <br>
    <div class="gallery">
      <img src="/static/pics/members/coregamer90.jpg" alt="CoreGamer90">
      <div class="desc"><b>CoreGamer90</b><br><i>Senior CEO, <br> Data Processing, <br> Founder</i></div>
    </div>

    <div class="gallery">
      <img src="/static/pics/members/fiffo.jpg" alt="Fiffo">
      <div class="desc"><b>Fiffo</b><br><i>Junior CEO,<br> Social Media Expert, <br> Founder</i></div>
    </div>

    <div class="gallery">
      <img src="/static/pics/members/braindead28.jpg" alt="braindead28">
      <div class="desc"><b>braindead28</b><br><br><i>Office Manager, Founder</i></div>
    </div>

    <div class="gallery">
      <img src="" alt="Zoembie">
      <div class="desc"><b>Zoembie</b><br><i>Customer Relations Manager,<br> Founder</i></div>
    </div>
    <br>
    <br>
    <div class="gallery">
      <img src="/static/pics/members/killhim.jpg" alt="Killhim">
      <div class="desc"><b>Killhim</b><br><br><i>Systemadministrator, <br> Bogener Büdschirm</i></div>
    </div>
    <div class="gallery">
      <img src="/static/pics/members/besoffenekugel.jpg" alt="besoffenekugel">
      <div class="desc"><b>Besoffenekugel</b><br><br><i>Rocket League Mastermind</i></div>
    </div>

    <div class="gallery">
      <img src="/static/pics/members/tom555.jpg" alt="Tom555">
      <div class="desc"><b>Tom555</b><br><br><i>Body of <br>Honor me</i></div>
    </div>

    <div class="gallery">
      <img src="/static/pics/members/ulzman.jpg" alt="UlzMan">
      <div class="desc"><b>UlzMan</b><br><br><br><i>Diamond Legend</i></div>
    </div>
    <br>
    <br>
    <div class="gallery">
      <img src="/static/pics/members/lordkiller.jpg" alt="Lordkiller">
      <div class="desc"><b>Lordkiller123</b><br><br><i>Implementation of Greetings</i></div>
    </div>

    <div class="gallery">
      <img src="/static/pics/members/whalterwhite.jpg" alt="Whalter White">
      <div class="desc"><b>WhalterWhite21</b><br><br><i>Business <br> Consultant</i></div>
    </div>

    <div class="gallery">
      <img src="/static/pics/members/pytxxn.jpg" alt="pytxxn">
      <div class="desc"><b>pytxxn</b><br><br><i>Department<br>Fortnite</i></div>
    </div>
    <br>
    <br>
    <div class="gallery">
      <img src="/static/pics/members/ladyAnus.jpg" alt="LadyAnus">
      <div class="desc"><b>LadyAnus</b><br><br><i>Department<br>Ego-Shooter</i></div>
    </div>

    <div class="gallery">
      <img src="" alt="flitzer">
      <div class="desc"><b>flitzer</b><br><br><br><i>Skilled Worker</i></div>
    </div>

    <div class="gallery">
      <img src="/static/pics/logo.jpg" alt="logo">
      <div class="desc"><b>Gabsi</b><br><br><i>Logo & Font<br> Design</i></div>
    </div>
{% endblock %}